.content-top {
    padding-top: 63px;
}

.box-area {
    width: 700px;
}

.box-area-quiz {
    width: 600px;
}

#answer-bot {
    width: 100px;
}

.box-container-area {
    padding: 92px 0 120px 0;
}

.abt-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 45px 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title2 {
    color: #444;
    margin: 30px 0 30px 0;
    font-size: 40px;
    text-align: center;
}

.abt-title {
    font-size: 17px;
    color: #444;
    font-weight: bold;
}

.abt-title2 {
    color: #444;
    margin: 20px 0 20px 0;
    font-size: 25px;
    text-align: center;
}

.abt-title3 {
    margin-top: 20px;
    font-size: 17px;
    color: #444;
    font-weight: bold;
}

.abt-list {
    list-style-position: inside;
    font-size: 17px;
    text-align: center;
}

#copy-area {
    background-color: #f1f1f1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

.embed-responsive {
    width: 100%;
}

.register-padding {
    padding-bottom: 40px;
}

.green-degrade {
    background: linear-gradient(to bottom, #00FF00, #008000);
}

.robot_img {
    width: 250px;
}

/* Estilo para o contêiner do quiz */
#quiz-container {
    margin-top: 20px;
    text-align: left;
}

/* Estilo para as opções de resposta */
.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    margin-left: 5px;
}

/* Estilo para o botão Próxima Pergunta */
#next-button {
    margin-top: 15px;
}

/* Estilo para a pontuação */
#score {
    margin-top: 10px;
    
}

/* Media query para dispositivos móveis (tamanho de tela menor que 768 pixels) */
@media (max-width: 767px) {
    .mobile-padding {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .box-area {
        margin: 0 10px;
    }

    .left-box {
        position: relative;
        height: 130px;
    }

    .right-box {
        padding: 20px;
    }

    .robot_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
    }
}