{% extends "layout.html" %}

{% block title %}
    C
{% endblock %}

{% block main %}
    <div id="abt-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="main-title2">C (programming language)</h2>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-fluid" src="/static/c-logo.png" alt="C Logo">
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="abt-title3">History of the C Programming Language</h3>
                    <p>The C programming language is a widely used and influential programming language that was created by Dennis Ritchie at Bell Labs in the early 1970s. C's development was closely linked to the development of the Unix operating system, which was also born at Bell Labs.</p>
                    <p>C was designed as a successor to the B programming language, aiming to provide low-level access to the computer's hardware while still offering a high-level programming structure. This combination made C versatile and suitable for both system programming and application development.</p>
                    <p>One of C's most significant contributions to the programming world was the introduction of a standardized programming language that could be used on different computer systems, leading to portability. The development of the C language resulted in the creation of the C Standard Library, which included functions like those found in Unix.</p>
                    <p>C became widely adopted in the 1970s and 1980s, with the publication of "The C Programming Language" book by Brian Kernighan and Dennis Ritchie, commonly referred to as the "K&R C." This book played a vital role in popularizing the language.</p>
                    <p>Over time, C served as the foundation for other programming languages like C++, C#, and Objective-C. Its influence on computer science, software development, and system programming remains significant to this day.</p>
                    <p>For more information, you can visit the <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">source</a>.</p>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <h3 class="abt-title3">"C" Programming Language: Brian Kernighan - Computerphile</h3>
                <iframe class="embed-responsive" height="315" src="https://www.youtube.com/embed/de2Hsvxaf8M?si=vE2axGj6JOQgXNvn" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
