{% extends "layout.html" %}

{% block title %}
    Python
{% endblock %}

{% block main %}
    <div id="abt-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="main-title2">Python</h2>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-fluid" src="/static/py-logo.png" alt="Python Logo">
                </div>
                <div class="col-md-12 text-center">
                    <h3 class="abt-title3">History of Python Programming Language</h3>
                    <p>Python is a popular programming language that was created by Guido van Rossum in the late 1980s. The name Python comes from the British comedy group Monty Python, which van Rossum was a fan of. Python is known for its simple and elegant syntax, its high-level and dynamic features, and its large and diverse standard library.</p>
                    <p>Python was influenced by many other languages, such as ABC, C, Modula-3, Perl, and Lisp. Python has also influenced many other languages, such as Ruby, Go, Julia, and Swift. Python has gone through several versions, from Python 1.0 in 1994 to Python 3.10 in 2021. Each version introduced new features and improvements, such as modules, exceptions, classes, generators, decorators, comprehensions, and type annotations.</p>
                    <p>Python is widely used for various purposes, such as web development, data science, machine learning, scripting, automation, and education. Python has a large and active community of developers and users who contribute to its development and maintenance. Python also has many frameworks and libraries that extend its functionality and compatibility with other platforms and technologies.</p>
                    <p>For more information, you can visit the <a href="https://www.geeksforgeeks.org/history-of-python/" target="_blank">source</a>.</p>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <h3 class="abt-title3">The Story of Python, by Its Creator, Guido van Rossum</h3>
                <iframe class="embed-responsive" height="315" src="https://www.youtube.com/embed/J0Aq44Pze-w?si=2VElBZvQktGBoGTs" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
